body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    padding-left: 150px;
}
header, nav, footer, section, aside, article, .box {
    padding: 10px;
}
header {
    background: #ebebeb;
    margin-bottom: 15px;
   
}
nav {
    background: #ebebeb; 
    margin-bottom: 15px;
}
section {
    background: #ebebeb;
    margin-bottom: 15px;
    float: left;
    display: block;
    width: 60%;
    height: 259px;
}
article {
    color: #ebebeb;
    background: #777;
    margin: 5px;
}
aside {
    background: #ebebeb;
    margin-bottom: 15px;
    float: right;
    display: block;
    width: 35%;
    height: 259px;
}
footer {
    background: #ebebeb;
    margin-bottom: 15px;
    clear:both;
}
.box {
    color: #777;
    background: #ebebeb;
    margin: 20px;
}